{% extends 'base.html.twig' %}

{% block title %}Activate/Deactivate User{% endblock %}

{% block body %}
    <h1>{{ user.isActive ? 'Deactivate' : 'Activate' }} User</h1>

    {{ form_start(form) }}
        <div>
            {{ form_label(form.isActive) }}
            {{ form_widget(form.isActive) }}
        </div>
        <button type="submit" class="btn">{{ user.isActive ? 'Deactivate' : 'Activate' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_user_list') }}">Back to the users list</a>
{% endblock %}

