<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Hello AdminController!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
		<!-- css modifié atypikhouse -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="stylesheet" href="/css/1dashboard-style.css"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<header>
			<div class="search-container">
				<form action="/path-to-search" method="get">
					<input type="text" placeholder="Rechercher..." name="search">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>

			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-success">Connexion</a>
			{% endif %}

		</header>
		<body>

			<div class="container">
				<div class="user-filter">
					<h2>Utilisateurs</h2>
					<!-- Le formulaire de filtre -->
					<form action="{{ path('app_admin_dashboard') }}" method="get">
						<select name="roleFilter" onchange="this.form.submit()">
							<option value="">Tous les rôles</option>
							<option value="ROLE_LOCA">Locataires</option>
							<option value="ROLE_PROPRIO">Propriétaires</option>
						</select>
					</form>
					<div class="row">
						<div class="col-12 col-t-6 col-l-4">

							<h1>
								Dashboard Administrateur</h1>

							<h2>Utilisateurs locataire</h2>
							<table class="table table-centered mb-0">
								<thead>
									<tr>
										<th>id</th>
										<th>UserName</th>
										<th>Role</th>
										<th>Email</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for user in usersLoca %}
										<tr>
											<td>{{ user.id}}</td>
											<td>{{ user.username}}</td>
											<td>{{ user.roles|join(', ') }}</td>
											<!-- Assuming roles is an array -->
											<td>{{ user.email }}</td>
											<td>
												<div>
													<input type="checkbox" id="switch{{ user.id }}" {{ user.isActive ? 'checked' : '' }} data-switch="success"/>
													<label for="switch{{ user.id }}" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="col-12 col-t-6 col-l-4">
							<h2>Utilisateurs Propriétaire</h2>
							<table class="table table-centered mb-0">
								<thead>
									<tr>
										<th>id</th>
										<th>UserName</th>
										<th>Role</th>
										<th>Email</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for user in usersProprio %}
										<tr>
											<td>{{ user.id}}</td>
											<td>{{ user.username}}</td>
											<td>{{ user.roles|join(', ') }}</td>
											<td>{{ user.email }}</td>
											<td>
												<div>
													<input type="checkbox" id="switch{{ user.id }}" {{ user.isActive ? 'checked' : '' }} data-switch="success"/>
													<label for="switch{{ user.id }}" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="col-12 col-t-6 col-l-4">
							<h2>Utilisateurs Administrateur</h2>
							<table class="table table-centered mb-0">
								<thead>
									<tr>
										<th>id</th>
										<th>UserName</th>
										<th>Role</th>
										<th>Email</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>

									{% for user in usersAdmin %}
										<tr>
											<td>{{ user.id}}</td>
											<td>{{ user.username}}</td>
											<td>{{ user.roles|join(', ') }}</td>
											<td>{{ user.email }}</td>
											<td>
												<div>
													<input type="checkbox" id="switch{{ user.id }}" {{ user.isActive ? 'checked' : '' }} data-switch="success"/>
													<label for="switch{{ user.id }}" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
												</div>

											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-t-6 col-l-4">
							<h2>Hebergements</h2>
							<table class="table table-centered mb-0">
								<thead>
									<tr>
										<th>ID House</th>
										<th>Owner ID</th>
										<th>Email Propriétaire</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for house in houses %}
										<tr>
											<td>{{ house.id }}</td>
											<td>{{ house.owner.id }}</td>
											<td>{{ house.owner.email }}</td>
											<td>{{ house.isActive ? 'Actif' : 'Inactif' }}</td>
											<td>
												<!-- Exemple d'interrupteur pour l'état actif -->
												<input type="checkbox" id="activeSwitch{{ house.id }}" {{ house.isActive ? 'checked' : '' }} data-switch="success"/>
											</td>
											<td>
												<!-- Liens ou boutons pour activer/désactiver ou supprimer -->
												<a href="{{ path('admin_house_activate', {'id': house.id}) }}">Activer/Désactiver</a>
												<a href="{{ path('admin_house_delete', {'id': house.id}) }}" onclick="return confirm('Êtes-vous sûr ?');">Supprimer</a>

											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div>
							<h3>Statistiques du Site</h3>
							<ul>
								<li>Nombre total d'hebergements :
									{{ totalHouses }}</li>
								<li>Nombre d'utilisateurs locataires :
									{{ totalUsersLoca }}</li>
								<li>Nombre d'utilisateurs propriétaires :
									{{ totalUsersProprio }}</li>
								<li>Nombre d'administrateurs :
									{{ totalUsersAdmin }}</li>
							</ul>
						</div>
					</div>

					{% block body %}{% endblock %}
				</script>

				<script src="/js/custom.js"></script>
			</body>
		</body>
	</html>
</html>
