{% extends 'base.html.twig' %}

{% block title %}Facility index{% endblock %}

{% block body %}
    <h1>Facility index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
               
            </tr>
        </thead>
        <tbody>
        {% for facility in facilities %}
            <tr>
                <td>{{ facility.id }}</td>
                <td>{{ facility.name }}</td>
                
                <td>
                    <a href="{{ path('app_facility_show', {'id': facility.id}) }}">show</a>
                    <a href="{{ path('app_facility_edit', {'id': facility.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
                     {% for facility in house.facilities %}
                        <li>{{ facility.name }}</li>
                    {% endfor %}
     </ul>
         

    <a href="{{ path('app_facility_new') }}">Create new</a>

{% endblock %}
