{% extends 'base.html.twig' %}

{% block title %}House index{% endblock %}

{% block body %}
    <h1>House index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Num_rooms</th>
                <th>Num_bedrooms</th>
                <th>Num_bathrooms</th>
                <th>Daily_price</th>
                <th>Description</th>
                <th>facility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <td>{{ house.id }}</td>
                <td>{{ house.title }}</td>
                <td>{{ house.latitude }}</td>
                <td>{{ house.longitude }}</td>
                <td>{{ house.address }}</td>
                <td>{{ house.capacity }}</td>
                <td>{{ house.numRooms }}</td>
                <td>{{ house.numBedrooms }}</td>
                <td>{{ house.numBathrooms }}</td>
                <td>{{ house.dailyPrice }}</td>
                <td>{{ house.description }}</td>
                
                            
                <td>
                    <a href="{{ path('app_logement_show', {'id': house.id}) }}">show</a>
                    <a href="{{ path('app_logement_edit', {'id': house.id}) }}">edit</a>

                    {{ include('proprietaire/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_logement_new') }}">Create new</a>
{% endblock %}
