{% extends 'base.html.twig' %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block body %}

	<div class="hero hero-inner"></div>
	<div class="untree_co-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
			{% set images = house.images|slice(0, 3) %}  <!-- Prendre les trois premières images maximum -->
            {% if images|length > 0 %}
            {% for image in images %}
                <div class="image-container">
                    <img src="{{ asset('img/' ~ image.file) }}" alt="Image de produit" class="d-block mb-3 img-fluid" >
                </div>
            {% endfor %}
            {% else %}
            <p>Aucune image disponible pour ce produit.</p>
            {% endif %}
				</div>
				<div class="col-lg-5 pl-lg-5 ml-auto">
					<h2>{{ house.title }}</h2>
					<p>{{ house.description }}</p>
					<th>Logement entier
						</th>
					
					<ul class="list-unstyled two-col clearfix">
						<th>{{ house.capacity }}
							voyageurs -</th>
						<th>{{ house.numRooms }}
							chambres -</th>
						<th>{{ house.numBedrooms }}
							lits -</th>
						<th>{{ house.numBathrooms }}
							salles de bain</th>
						<br>

						<h4>{{ house.dailyPrice }}€</h4
						
						<br>
						
						
					<form action="{{ path('app_reservation') }}" method="post" id="reservationForm">
						<input type="hidden" name="house_id" value="{{ house.id }}">
						<input type="hidden" id="formStartDate" name="startDate" value="">
    					<input type="hidden" id="formEndDate" name="endDate" value="">
    					<input type="hidden" id="formNumberOfDays" name="numberOfDays" value="">
    					<input type="hidden" id="formTotalPrice" name="totalPrice" value="">
    					<div id='calendar'></div>
    					<p>Date de début sélectionnée: <span id="displayStartDate"></span></p>
						<p>Date de fin sélectionnée: <span id="displayEndDate"></span></p>
    					<p>Prix total: <span id="displayTotalPrice"></span>€</p>
    					<div class="form-floating">
        					<button type="submit" class="btn btn-primary">Réserver</button>
    					</div>
					</form>
						
            <br>
					{# <h4>Ce que propose ce logement</h4>

						<ul class="list-unstyled two-col clearfix">
		
							    {% for facility in house.facilities %}
								<li>{{ facility.name }}</li>
							{% endfor %}
               
						</ul> #}

						<h4>Où se situe le logement</h4>

						<p> {{ house.address }} </p>
						<th>Latitude</th>
						<td>{{ house.latitude }}</td>
						<th>Longitude</th>
						<td>{{ house.longitude }}</td>
					
					</div>

				</body>
			</html>

<script>
var dailyRate = {{ house.dailyPrice }};
document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
    var formStartDate = document.getElementById('formStartDate');
    var formEndDate = document.getElementById('formEndDate');
    var formNumberOfDays = document.getElementById('formNumberOfDays');
    var formTotalPrice = document.getElementById('formTotalPrice');
    var displayStartDate = document.getElementById('displayStartDate');
    var displayEndDate = document.getElementById('displayEndDate');
    var displayTotalPrice = document.getElementById('displayTotalPrice');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        selectable: true,
        select: function (info) {
            var startDate = info.startStr;
            var endDate = info.endStr;
            var numberOfDays = moment(endDate).diff(moment(startDate), 'days');
            var totalPrice = numberOfDays * dailyRate;

            formStartDate.value = startDate;
            formEndDate.value = endDate;
            formNumberOfDays.value = numberOfDays;
            formTotalPrice.value = totalPrice;

            displayStartDate.textContent = startDate;
            displayEndDate.textContent = endDate;
            displayTotalPrice.textContent = totalPrice;
        }
    });

    calendar.render();
});
</script>


{% endblock %}

