{% extends 'base.html.twig' %}

{% block title %}
    {{ house.title }}
{% endblock %}

{% block body %}

	<div class="hero hero-inner"></div>
	<div class="untree_co-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
			{% set images = house.images|slice(0, 3) %}  <!-- Prendre les trois premières images maximum -->
            {% if images|length > 0 %}
            {% for image in images %}
                <div class="image-container">
                    <img src="{{ asset('img/' ~ image.file) }}" alt="Image de produit" class="d-block mb-3 img-fluid" >
                </div>
            {% endfor %}
            {% else %}
            <p>Aucune image disponible pour ce produit.</p>
            {% endif %}
				</div>
				<div class="col-lg-5 pl-lg-5 ml-auto">
					<h2>{{ house.title }}</h2>
					<p>{{ house.description }}</p>
					<th>Logement entier
						{{ house.address }}</th>
					<ul class="list-unstyled two-col clearfix">
						<th>{{ house.capacity }}
							voyageurs -</th>
						<th>{{ house.numRooms }}
							chambres -</th>
						<th>{{ house.numBedrooms }}
							lits -</th>
						<th>{{ house.numBathrooms }}
							salles de bain</th>
						<br>
						<h4>{{ house.dailyPrice }}
							€</h4>
						<div class="form-floating">
							<form action="{{ path('app_payer') }}" method="post">
								<button type="submit" class="btn btn-primary">Réserver</button>
							</form>
						</div>
						<h4>Ce que propose ce logement</h4>
						<ul class="list-unstyled two-col clearfix">
		
							    {% for facility in house.facilities %}
								<li>{{ facility.name }}</li>
							{% endfor %}
               
						</ul>
						<h4>Où se situe le logement</h4>
						<th>Latitude</th>
						<td>{{ house.latitude }}</td>
						<th>Longitude</th>
						<td>{{ house.longitude }}</td>
					</div>



	

   
	



	
					

				</body>
			</html>
			


			 <script>

     document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        selectable: true, // Permettre la sélection de période
        select: function(info) {
       

    var startDate = info.startStr; // Date de début sélectionnée
    var endDate = info.endStr; // Date de fin sélectionnée
    var numberOfDays = moment(endDate).diff(moment(startDate), 'days'); // Calculer le nombre de jours entre la date de début et la date de fin
	console.log(startDate,endDate,numberOfDays);
	
	
	// Ajoutez votre classe CSS personnalisée ici
    // Envoyer les données au backend via une requête AJAX
    // Assurez-vous de remplacer "/your-backend-route" par la route correcte de votre backend
    fetch('/avantpayer', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            startDate: startDate,
            endDate: endDate,
            numberOfDays: numberOfDays
        })
    })
    .then(response => {
        if (response.ok) {
            console.log('Data sent successfully!');
            // Rafraîchir la page ou faire toute autre action nécessaire après l'envoi des données
        } else {
            console.error('Failed to send data');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    });

    calendar.render();
});

    </script>

			

{% endblock %}

