{% extends 'base.html.twig' %}

{% block title %}Hello ProprietaireController!
{% endblock %}

{% block body %}

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">Mon compte</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="untree_co-section">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="container">
					<div class="row">
						<div class="col-md-8">                           
							<div class="card">
								<div class="card-body">
									<div class="row">                                        
										<table class="table">										
											<thead>
                                                <h2>Mes informations</h2>
												<tr>
													<th>Username :</th>
													<th>Email :</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>{{ app.user.username }}</th>
													<th>{{ app.user.email }}</th>
												</tr>
											</tbody>
										</table>
                                        <br>
									</div>
								</div>
							</div>
							<br>
                            <div class="row">
							    <div class="form-floating">
								    <form action="{{ path('app_edit_user', { 'id': app.user.id }) }}">
									    <button type="submit" class="btn btn-primary">Modifier</button>
								    </form>
							    </div>
                                <br>
							    <div class="form-floating">
								    <form action="{{ path('app_delete_user', { 'id': app.user.id }) }}">
									    <button type="submit" class="btn btn-danger" onclick="return confirm('Attention vous êtes entrain de supprimer votre compte')">Supprimer</button>
								    </form>
							    </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<table class="table" style="margin-top: 200px;">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Address</th>
			<th>Capacity</th>
			<th>Num_rooms</th>
			<th>Num_bedrooms</th>
			<th>Num_bathrooms</th>
			<th>Daily_price</th>
			<th>Description</th>
			<th>Logement actif</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for house in houses %}
			<tr>
				<td>{{ house.id }}</td>
				<td>{{ house.title }}</td>
				<td>{{ house.latitude }}</td>
				<td>{{ house.longitude }}</td>
				<td>{{ house.address }}</td>
				<td>{{ house.capacity }}</td>
				<td>{{ house.numRooms }}</td>
				<td>{{ house.numBedrooms }}</td>
				<td>{{ house.numBathrooms }}</td>
				<td>{{ house.dailyPrice }}</td>
				<td>{{ house.description }}</td>


				<td>
					{{ house.actif}}
				</td>
				<td>
					<a href="{{ path('app_proprio_show', {'id': house.id}) }}">show</a>
					<a href="{{ path('app_proprio_edit', {'id': house.id}) }}">edit</a>
					<a href="{{ path('app_historique', {'id': house.id}) }}">Historique</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="12">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_proprio_new') }}">Create new</a>{% endblock %}
